In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
#Write a Pandas program to implement following operation
#to create a dataframe from a dictionary and display it.

#Name:Arpita Makwana
#Enrollnment No:216270307069


data = [{"a": 1, "b": 2}, {"a": 5, "b": 10, "c": 20}]
df = pd.DataFrame(data)
print("df:\n", df)

df:
    a   b     c
0  1   2   NaN
1  5  10  20.0

In [3]:
#to sort the DataFrame first by 'name' in ascending order.


#Name:Arpita Makwana
#Enrollnment No:216270307069

import pandas as pd

# Create a sample DataFrame
data = pd.DataFrame({
    'Name': ['Nirali', 'Vishakha', 'Aabha', 'Arpita','Priyanshi','Honey']})

# Sort the DataFrame by the 'Name' column in ascending order
sorted_data = data.sort_values(by='Name')


print(sorted_data)

        Name
2      Aabha
3     Arpita
5      Honey
0     Nirali
4  Priyanshi
1   Vishakha

In [4]:
'''to delete the one specific column from the DataFrame

Name:Arpita Makwana
Enrollnment No:216270307069'''


import pandas as pd
# Create a sample DataFrame
data = pd.DataFrame({
    'Name': ['Aabha','Honey','Nirali'],
    'Age': [25, 30, 22],
    'Salary': [50000, 60000, 55000]
})
print("This is the first method to delete the coulmn in series using drop ")

data_without_salary = data.drop('Salary', axis=1)

# The original DataFrame 'data' remains unchanged
print(data_without_salary)


print("\nThis is the second method to delete the column in series using del ")
del data['Salary']
print(data)

This is the first method to delete the coulmn in series using drop
     Name  Age
0   Aabha   25
1   Honey   30
2  Nirali   22

This is the second method to delete the column in series using del
     Name  Age
0   Aabha   25
1   Honey   30
2  Nirali   22

In [5]:
#to write a DataFrame to CSV file using tab separator


#Name:Arpita Makwana
#Enrollnment No:216270307069

import numpy as np
import pandas as pd

# Create a sample DataFrame
data = pd.DataFrame({
    'Name': ['Anjali', 'Babita', 'Daya'],
    'Age': [25, 30, 22],
    'Salary': [50000, 60000, 55000]
})

file_path = 'output_data.csv'
data.to_csv(file_path, sep='\t', index=False)
print(file_path)

output_data.csv