In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train_and_test2.csv

In [2]:
import pandas as pd
import numpy as np

# Sample dataset with missing values
data = {
    'A': [1, 2, 3, None, 5, 6],
    'B': [None, 2, None, 4, None, 6],
    'C': [1, 2, 3, 4, 5, 6],
}

df = pd.DataFrame(data)

# Filter columns with all entries present (no NaN)
df_filtered = df.dropna(axis=1, how='any')

# Check which rows and columns have NaN
rows_with_nan = df[df.isna().any(axis=1)]
columns_with_nan = df.columns[df.isna().any()].tolist()

# Drop rows with any NaNs
df_cleaned = df.dropna()

print("Filtered Columns:")
print(df_filtered)

print("\nRows with NaN:")
print(rows_with_nan)

print("\nColumns with NaN:")
print(columns_with_nan)

print("\nCleaned Dataset (dropped rows with any NaNs):")
print(df_cleaned)

Filtered Columns:
   C
0  1
1  2
2  3
3  4
4  5
5  6

Rows with NaN:
     A    B  C
0  1.0  NaN  1
2  3.0  NaN  3
3  NaN  4.0  4
4  5.0  NaN  5

Columns with NaN:
['A', 'B']

Cleaned Dataset (dropped rows with any NaNs):
     A    B  C
1  2.0  2.0  2
5  6.0  6.0  6

In [3]:
import numpy as np 
import pandas as pd
df=pd.read_csv('/kaggle/input/titanic/train_and_test2.csv')
df.isna()
df_new = df.dropna()   # Drop rows with missing values
df_new

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1305,1306,39.0,108.9000,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,0
1306,1307,38.5,7.2500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1307,1308,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1308,1309,28.0,22.3583,0,1,0,0,0,0,0,...,0,0,0,3,0,0,0.0,0,0,0